/*--- MAIN STYLING ---*/


:root {
    --white: #fdfdfd;
    --black: #000000;
    --offblack: #373737;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white);
}

p {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
}

h1 {
    font-family: 'Castoro', serif;
}

/*--- SCROLL BAR ---*/
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

/*--- MENU ---*/
nav {
    z-index: 10000;
    top: 0;
    width: 100%;
    margin: 0;
    position: fixed;

    padding: 1em 0;
    font-size: 0.75em;
}
.hamburger{
    z-index: 10000;
}

.name {
    pointer-events: none;
    top: 1.75em;
    right: 2em;
    width: 100%;
    position: fixed;
    text-align: right;
    font-size: 2em;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--white);
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}

.ham4 .bottom {
    stroke-dasharray: 40 121;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

.logo {

    width: 2%;
    height: 2%;
    float: right;
    margin-right: 50px;
    margin-top: 5px;
}

/*--- HEADER ---*/
header {
    margin: auto;
    padding-top: 7em;
    padding-bottom: 4em;
}

header img {
    margin: auto;
    display: block;
    width: 40%;
    max-height: 20vw;
    max-width: 20vw;
}

header p {
    padding-top: 2em;
    text-align: center;


}

header h1 {
    font-size: 152px;

}

/*--- NAV DROP DOWN ---*/

.overlay {
    padding-left: 10vw;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFDFA;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.bio {
    margin: auto;
    padding: inherit;
    font-size: 12;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 112px;
    color: #373737;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/*--- GRID ---*/

* {
    box-sizing: border-box;
}

.grid p {
    font-size: 14px;
    padding-bottom: 10px;
}

.grid {
    padding: 0 2em;
}

/* Center website */
.main {

    max-width: 1000px;
    margin: auto;
}

.row {
    margin: 0px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    display: none;
    /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
#myBtnContainer {
    padding-left: 5em;
    padding-bottom: 5em;
}

.btn {
    position: relative;
    color: #000;
    text-decoration: none;
    margin: 0px 20px;
    border: none;
    outline: none;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;

    position: relative;
}

.btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.btn:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.active:before {
    visibility: visible;
    transform: scaleX(1);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1500px) {
    .column {
        width: 33.33%;
        /* Hide columns by default */
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1200px) {
    .column {
        width: 50%;
        /* Hide columns by default */
    }
}

@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
        /* Hide columns by default */
    }
}
